========================
Team and repository tags
========================

.. image:: http://governance.openstack.org/badges/openstack-ansible-{{ role_name }}.svg
    :target: http://governance.openstack.org/reference/tags/index.html

.. Change things from this point on

=========================
OpenStack-Ansible {{ role_name }}
=========================

Ansible role that installs and configures OpenStack {{ role_name }}.

Documentation for the project can be found at:
  http://docs.openstack.org/developer/openstack-ansible-{{ role_name }}/

The project home is at:
  http://launchpad.net/openstack-ansible
