# {% raw %}{{ {% endraw %}ansible_managed{% raw %} }}{% endraw %}

Defaults:{% raw %}{{ {% endraw %}{{ role_name }}_system_user_name{% raw %} }}{% endraw %} !requiretty
Defaults:{% raw %}{{ {% endraw %}{{ role_name }}_system_user_name{% raw %} }}{% endraw %} secure_path="{% raw %}{{ {% endraw %}{{ role_name }}_bin{% raw %} }}{% endraw %}:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

{% raw %}{{ {% endraw %}{{ role_name }}_system_user_name{% raw %} }}{% endraw %} ALL = (root) NOPASSWD: {% raw %}{{ {% endraw %}{{ role_name }}_bin{% raw %} }}{% endraw %}/{% raw %}{{ {% endraw %}{{ role_name }}_service_name{% raw %} }}{% endraw %}-rootwrap
